:root{
    --darkprimary: #303f9f;
    --primary: #3F51B5;
    --light: #c5c4e9;
    --grey: #757575;
    --accent: #ffc107;
}

.card {
    width: 18rem;
    border: var(--darkprimary)
}
body {
    overflow: hidden;
}
#content {
    height: 100vh;
    padding-bottom: 5rem;
    overflow-y: auto;
}