body {
    color: #566787;
    background: #f5f5f5;
    /* font-family: 'Varela Round', sans-serif;
    font-size: 13px; */
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius:1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title {        
    padding-bottom: 15px;
    background: linear-gradient(40deg, #0b5494, #0d17b1) !important;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn-group {
    float: right;
}
.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 1px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}
.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

:root{
    --darkprimary: #303f9f;
    --primary: #3F51B5;
    --light: #c5c4e9;
    --grey: #757575;
    --accent: #ffc107;
}

body {
  overflow: hidden;
}

#sidebar-wrapper {
	width: 15rem;
	height: 100vh;
	background-color: var(--darkprimary);
	color: #fff;
}


#sidebar-heading {
	padding: 3rem;
	text-align: center;
}

#sidebar-wrapper .fas,
#sidebar-wrapper .icon {
	padding-right: 1rem;
}

.list-group-item {
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
	width: 15rem;
}

.btn-primary {
    background-color: var(--accent);
    border: var(--accent);
}

#content {
  height: 100vh;
	padding-bottom: 5rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
	#sidebar-wrapper {
		margin-left: -15rem;
	}

	#sidebar-wrapper.toggled {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	#sidebar-wrapper.toggled {
		margin-left: -15rem;
	}
}