:root{
    --primary: #303f9f;
    --light: #c5c4e9;
    --grey: #757575;
    --accent: #ffc107;
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px
}

body {
    overflow: auto !important;
}

.sidebar-nav{
    width: var(--offcanvas-width);
    transform: none;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
}

.bg-primary{ background-color: var(--primary) !important;}

.btn-primary {
    background-color: var(--accent);
}

.btn-light {
    color: var(--light);
}


